#canvas {
    background-color: rgb(9, 90, 9);
    image-rendering: pixelated;
    width: 80%;
    height: 80%;
}

.column {
    display: flex;
    flex-direction: column;;
}

.flex {
    display: flex;;
}